SECRET_KEY=

DATABASE_URL=

UPLOAD_FOLDER=uploads

JWT_SECRET_KEY=

JWT_TOKEN_LOCATION=headers,cookies

JWT_COOKIE_CSRF_PROTECT=False
JWT_ACCESS_TOKEN_EXPIRES=3600

JWT_COOKIE_SECURE=False
JWT_COOKIE_SAMESITE=Lax

JWT_ACCESS_COOKIE_NAME=access_token_cookie
JWT_ALGORITHM=HS256

APP_SECRET_KEY=