<div class="blank-layout-container justify-content-center align-items-center">
  <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">

          <div class="text-center">
            <app-branding></app-branding>
          </div>

          <!-- <h4 class="f-w-700 f-s-24 m-0 m-t-24 text-center">OMR Analyzer</h4>
          <span class="f-s-14 d-block m-t-8 text-center">Sign in to continue</span> -->

          @if(errorMessage) {
          <div class="m-t-16 p-12 bg-light-error text-error rounded">
            {{ errorMessage }}
          </div>
          }

          <form class="m-t-30" [formGroup]="form" (ngSubmit)="submit()">

            <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Username</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput formControlName="uname" placeholder="Enter your username" />
              @if(f['uname'].touched && f['uname'].invalid) {
              <mat-hint class="m-b-16 error-msg">
                @if(f['uname'].errors && f['uname'].errors['required']) {
                <div class="text-error">Name is required.</div>
                }
                @if(f['uname'].errors && f['uname'].errors['minlength']) {
                <div class="text-error">Name should be 6 character.</div>
                }
              </mat-hint>
              }
            </mat-form-field>

            <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Password</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input
                matInput
                [type]="showPassword ? 'text' : 'password'"
                formControlName="password"
                placeholder="Enter your password"
              />
              <button mat-icon-button matSuffix type="button" (click)="showPassword = !showPassword">
                <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
              @if(f['password'].touched && f['password'].invalid) {
              <mat-hint class="m-b-16 error-msg">
                @if(f['password'].errors && f['password'].errors['required']) {
                <div class="text-error">Password is required.</div>
                }
              </mat-hint>
              }
            </mat-form-field>

            <button
              mat-flat-button
              color="primary"
              class="w-100 m-t-8"
              type="submit"
              [disabled]="loading || !form.valid"
            >
              <span *ngIf="!loading">Sign In</span>
              <span *ngIf="loading">Signing in...</span>
            </button>

          </form>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>